section{
    background-color: $primaryColor;
    color: $secondaryColor;
    

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 25rem;

    &:nth-last-of-type(odd){
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;

        p{
            background-color: $primaryColor;
            color: $secondaryColor;
            padding: 1.25rem;
            font-size: 1.25rem;
            text-transform: uppercase;
        }

    }
    &:first-of-type{
        height: 100vh;
        background-image: url("https://picsum.photos/id/1002/600/400");
    }
    &:nth-of-type(3){
        background-image: url("https://picsum.photos/id/1001/600/400");
    }
    &:nth-of-type(5){
        background-image: url("https://picsum.photos/id/1005/600/400");
    }
    &:nth-of-type(7){
        background-image: url("https://picsum.photos/id/1006/600/400");
    }

    .section-dark{
        background-color: $secondaryColor !important;
        color: $primaryColor !important;
    }
}